<template>
  <div class="activity">
    <div
      v-if="activityDetails"
      class="hero d-flex align-end"
      v-bind:style="{
        backgroundImage: 'url(' + activityDetails.image_src + ')',
      }"
    >
      <v-card
        v-if="activityDetails.limited_reservation"
        color="ml-8 mb-8 pink lighten-1 pa-3 white--text"
      >
        Plus que
        <span class="font-weight-bold">{{
          activityDetails.limited_reservation
        }}</span>
        places disponibles
      </v-card>
    </div>
    <v-container v-if="activityDetails">
      <BackButton path="/" />

      <h1 class="text-h5 mt-12">{{ activityDetails.title }}</h1>

      <div class="mb-8 mt-6">
        <form @submit.prevent="submit">
          <v-row>
            <v-col cols="12" md="2">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                color="pink"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    id="date-input"
                    v-model="date"
                    outlined
                    dense
                    rounded
                    label="Date"
                    aria-label="Date"
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  :min="
                    new Date(
                      Date.now() - new Date().getTimezoneOffset() * 60000
                    )
                      .toISOString()
                      .substr(0, 10)
                  "
                  @change="save"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="d-flex align-end" cols="12" md="4">
              <v-text-field
                outlined
                dense
                rounded
                class="mb-1"
                label="Places adulte"
                aria-label="Places adulte"
                v-model="adultNumber"
                hide-details
                type="number"
                step="1"
                min="0"
                :max="getReservationsLimit(childNumber)"
              />
            </v-col>
            <v-col class="d-flex align-end" cols="12" md="4">
              <v-text-field
                outlined
                dense
                rounded
                class="mb-1"
                label="Places enfant"
                aria-label="Places enfant"
                v-model="childNumber"
                hide-details
                type="number"
                step="1"
                min="0"
                :max="getReservationsLimit(adultNumber)"
              />
            </v-col>
            <v-col class="d-flex align-end" cols="12" md="2">
              <v-hover v-slot="{ hover }">
                <v-btn
                  id="submit-button"
                  :color="
                    applyReduction(getDayFromDate, basicPrice) !== basicPrice
                      ? 'teal'
                      : 'pink'
                  "
                  depressed
                  large
                  rounded
                  block
                  :disabled="!basicPrice"
                  class="mr-1 mb-1 white--text text-capitalize lighten-1"
                  @click="reserve"
                >
                  <span v-if="hover">
                    <span class="mdi mdi-cart-outline mr-1"></span>
                    Ajouter
                  </span>
                  <span v-else>
                    <span
                      v-if="!checkDaysOff(getDayFromDate)"
                      :class="{
                        'text-decoration-line-through':
                          applyReduction(getDayFromDate, basicPrice) !==
                          basicPrice,
                      }"
                      >{{ `${!basicPrice ? 0 : basicPrice}€` }}</span
                    >
                    <span
                      v-if="
                        applyReduction(getDayFromDate, basicPrice) !==
                        basicPrice
                      "
                    >
                      {{ `${applyReduction(getDayFromDate, basicPrice)}€` }}
                    </span>
                  </span>
                </v-btn>
              </v-hover>
            </v-col>
          </v-row>
        </form>
      </div>
      <v-card
        class="rounded pa-5 mt-5"
        v-if="this.activityDetails.with_reservation"
        outlined
      >
        <div class="text-h6">
          <span class="mdi mdi-alert-circle-outline"></span> Reservations :
        </div>
        <div class="text-body-1 mt-2">
          Les activités sur reservation sont limitées à
          <span class="font-weight-bold">4</span> places
        </div>
      </v-card>
      <v-card class="rounded pa-5 mt-5" outlined>
        <div class="text-h6">Description :</div>
        <div class="text-body-1 mt-2">
          {{ activityDetails?.description }}
        </div>
      </v-card>
      <v-card class="rounded pa-5 mt-4" outlined>
        <div class="text-h6">Prix :</div>
        <div
          v-for="(reduction_day, index) in activityDetails.reduction_days"
          :key="index"
          class="text-body-1 mt-2 teal--text font-weight-bold"
        >
          Réduction de {{ reduction_day.reduction }}
          {{ reduction_day.type === "percent" ? "%" : "€" }} le
          {{ reduction_day.days.join(", ") }}.
        </div>
        <div v-if="activityDetails.age_prices" class="text-body-1 mt-2">
          <div>
            <span class="text-subtitle-1 mr-3">Adulte :</span>
            <span class="text-body-1 mt-2"
              >{{ activityDetails.age_prices.adult }} €</span
            >
          </div>
          <div>
            <span class="text-subtitle-1 mr-3">Enfant :</span>
            <span class="text-body-1 mt-2"
              >{{ activityDetails.age_prices.child }} €</span
            >
          </div>
        </div>
        <div v-else class="text-body-1 mt-2">
          <span class="text-subtitle-1 mr-3">Adulte ou enfant :</span>
          <span class="text-body-1 mt-2">{{ activityDetails.price }} €</span>
        </div>
        <span class="mt-2 caption"
          >Les places enfants sont à moitié prix à partir du troisième
          enfant</span
        >
      </v-card>
      <v-card class="rounded pa-5 mt-5" outlined>
        <div class="text-h6">Jours d'ouverture :</div>
        <div
          :class="{ 'grey--text': checkDaysOff(day) }"
          v-for="day in days"
          :key="day"
          class="text-body-1 mt-2"
        >
          {{ day }} : {{ checkDaysOff(day) ? "Fermé" : "Ouvert" }}
        </div>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BackButton from "@/components/BackButton.vue";

export default {
  name: "Activity",

  components: {
    BackButton,
  },

  data() {
    return {
      menu: false,
      date: null,
      days: [
        "lundi",
        "mardi",
        "mercredi",
        "jeudi",
        "vendredi",
        "samedi",
        "dimanche",
      ],
      adultNumber: 1,
      childNumber: 0,
    };
  },

  computed: {
    ...mapState(["activities"]),

    activityDetails() {
      return this.activities.find(
        (activity) => activity.activity_code == this.$route.params.code
      );
    },
    basicPrice() {
      let childMultiplier = this.childNumber;
      if (this.checkDaysOff(this.getDayFromDate)) {
        return null;
      }
      if (this.childNumber > 2) {
        let reductedPlaces = (this.childNumber - 2) / 2;
        childMultiplier = reductedPlaces + 2;
      }
      if (this.activityDetails.price) {
        return (
          this.activityDetails.price * this.adultNumber +
          this.activityDetails.price * childMultiplier
        );
      } else if (this.activityDetails.age_prices) {
        return (
          this.activityDetails.age_prices.child * childMultiplier +
          this.activityDetails.age_prices.adult * this.adultNumber
        );
      } else {
        return null;
      }
    },
    getDayFromDate() {
      let days = [
        "dimanche",
        "lundi",
        "mardi",
        "mercredi",
        "jeudi",
        "vendredi",
        "samedi",
      ];
      return days[new Date(this.date).getDay()];
    },
  },

  methods: {
    checkDaysOff(day) {
      return this.activityDetails?.days_off?.includes(day);
    },
    reserve() {
      this.$store.dispatch("addToCart", {
        ...this.activityDetails,
        price: this.applyReduction(this.getDayFromDate, this.basicPrice),
        adultNumber: this.adultNumber,
        childNumber: this.childNumber,
      });
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    applyReduction(day, price) {
      let percent = 0;
      let substraction = 0;

      this.activityDetails.reduction_days?.forEach((reduction_detail) => {
        if (reduction_detail.days.includes(day)) {
          if (reduction_detail.type === "percent") {
            percent = reduction_detail.reduction;
          } else if (reduction_detail.type === "substraction") {
            substraction = reduction_detail.reduction;
          }
        }
      });
      return price - (price / 100) * percent - substraction;
    },
    getReservationsLimit(secondInputValue) {
      if (this.activityDetails.with_reservation) {
        return 4 - secondInputValue;
      } else if (this.activityDetails.limited_reservation) {
        return this.activityDetails.limited_reservation - secondInputValue;
      } else {
        return null;
      }
    },
  },

  mounted() {
    this.$store.dispatch("loadActivitiesWithoutAPI");
  },
};
</script>

<style>
.hero {
  background-size: cover;
  height: 200px;
}
.v-input__control {
  flex-direction: column-reverse;
}
</style>
