<template>
  <div class="cart">
    <v-container>
      <BackButton />

      <div class="mt-12">
        <template>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Titre</th>
                  <th class="text-left">Places adultes</th>
                  <th class="text-left">Places enfants</th>
                  <th class="text-left">Prix</th>
                  <th class="text-left">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in cartList" :key="item.name">
                  <td>{{ item.title }}</td>
                  <td>{{ item.adultNumber }}</td>
                  <td>{{ item.childNumber }}</td>
                  <td>{{ item.price }} €</td>
                  <td>
                    <v-btn
                      id="remove-button"
                      class="text-lowercase"
                      color="error"
                      plain
                      @click="remove(item.activity_code)"
                    >
                      Retirer
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div v-if="!cartList.length" class="text-center my-16 caption">
            Aucune reservation n'a été ajoutée au panier
          </div>
        </template>
        <v-card class="rounded pa-5 mt-10" outlined>
          <div class="text-h6">Prix total : {{ totalPrice }} €</div>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BackButton from "@/components/BackButton.vue";

export default {
  name: "Cart",

  components: {
    BackButton,
  },

  computed: {
    ...mapState(["cartList"]),

    totalPrice() {
      let total = 0;
      this.cartList.forEach((activity) => {
        total = total + activity.price;
      });
      return total;
    },
  },

  methods: {
    remove(activity) {
      this.$store.dispatch("removeToCart", activity.activity_code);
    },
  },
};
</script>

<style></style>
