<template>
  <div class="home">
    <Header />
    <v-container>
      <ActivitiesList
        title="Activités du moment"
        :activities="activities"
        class="my-8"
      />
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";

import ActivitiesList from "@/components/ActivitiesList.vue";
import Header from "@/components/Header.vue";

export default {
  name: "Home",

  components: {
    ActivitiesList,
    Header,
  },

  computed: mapState(["activities"]),

  mounted() {
    this.$store.dispatch("loadActivitiesWithoutAPI");
  },
};
</script>
