<template>
  <v-card class="activity-card" :loading="loading" max-width="380">
    <template slot="progress">
      <v-progress-linear
        color="pink lighten-1"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img height="200" class="pt-6" :src="activity.image_src">
      <v-card
        v-if="activity.with_reservation"
        color="ml-3 pa-2 teal lighten-1 white--text d-inline"
      >
        Sur reservation
      </v-card>
      <v-card
        v-if="activity.limited_reservation"
        color="ml-3 pa-2 pink lighten-1 white--text d-inline"
      >
        Plus que
        <span class="font-weight-bold">{{ activity.limited_reservation }}</span>
        places
      </v-card>
    </v-img>

    <v-card-title>{{ activity.title }}</v-card-title>

    <v-card-text>
      <div>{{ truncText(activity.description) }}</div>

      <v-btn-toggle class="mb-3 mt-4" rounded>
        <v-btn
          v-for="day in days"
          :key="day"
          class="text-caption text-capitalize"
          small
          :color="checkDaysReductions(day) ? 'teal lighten-1 white--text' : ''"
          :disabled="checkDaysOff(day)"
          >{{ cutDay(day) }}</v-btn
        >
      </v-btn-toggle>
      <span v-if="getLowerPrice">
        {{ `Reservez partir de ${getLowerPrice}€` }}
      </span>
    </v-card-text>

    <v-card-actions class="flex justify-end">
      <v-btn
        :id="`get-details-button-${activity.activity_code}`"
        color="pink lighten-1 white--text text-lowercase"
        depressed
        class="mr-1"
        @click="showDetails(activity.activity_code)"
      >
        <span class="ml-1">{{
          activity.with_reservation ? "Reserver une place" : "Acheter une place"
        }}</span>
        <span class="mdi mdi-arrow-right-thin"></span>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "ActivityCard",

  props: {
    activity: Object,
  },

  data: () => ({
    loading: false,
    selection: 1,
    days: [
      "lundi",
      "mardi",
      "mercredi",
      "jeudi",
      "vendredi",
      "samedi",
      "dimanche",
    ],
  }),

  computed: {
    getLowerPrice() {
      if (this.activity.price) {
        return this.activity.price;
      } else if (this.activity.age_prices) {
        return Math.min(
          this.activity.age_prices.child,
          this.activity.age_prices.adult
        );
      } else {
        return null;
      }
    },
  },

  methods: {
    reserve() {
      this.loading = true;
      setTimeout(() => (this.loading = false), 2000);
    },
    showDetails(code) {
      this.$router.push(`/activity/${code}`);
    },
    checkDaysOff(day) {
      return this.activity.days_off?.includes(day);
    },
    checkDaysReductions(day) {
      let daysList = [];

      this.activity.reduction_days?.forEach((reductions_details) => {
        reductions_details?.days.forEach((day) => daysList.push(day));
      });
      return daysList.includes(day);
    },
    cutDay(day) {
      return day.substring(0, 3);
    },
    truncText(text) {
      return text.substring(0, 250) + (text.length >= 250 ? "..." : "");
    },
  },
};
</script>

<style></style>
