<template>
  <div class="activities-list">
    <h2>{{ title }}</h2>

    <v-row class="mt-5">
      <ActivityCard
        class="ma-1 mt-8"
        v-for="activity in activities"
        :key="activity.code"
        :activity="activity"
      ></ActivityCard>
    </v-row>
  </div>
</template>

<script>
import ActivityCard from "@/components/ActivityCard.vue";

export default {
  name: "ActivitiesList",

  components: {
    ActivityCard,
  },

  props: {
    title: String,
    activities: Array,
  },
};
</script>
