<template>
  <v-alert
    closable
    outlined
    :color="mainColor"
    :icon="icon"
    :style="{ backgroundColor: backgroundColor + '!important' }"
    border="left"
  >
    {{ message }}
  </v-alert>
</template>

<script>
export default {
  name: "Alert",

  props: {
    mainColor: {
      type: String,
      default: "gray",
    },
    backgroundColor: {
      type: String,
      default: "gray",
    },
    message: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "",
    },
  },

  data: () => ({}),

  methods: {},
};
</script>

<style lang="scss" scoped>
.v-alert {
  position: fixed;
  right: 3%;
  top: 90px;
  z-index: 99999;
}
</style>
