<template>
  <v-btn @click="goTo('/')" class="mt-2" text>
    <span class="mdi mdi-keyboard-backspace mr-2"></span>
    <span class="text-lowercase">Retour aux actitités</span>
  </v-btn>
</template>

<script>
export default {
  name: "BackButton",

  props: {
    path: {
      type: String,
      default: "/",
    },
  },

  methods: {
    goTo(path) {
      this.$router.push(path);
    },
  },
};
</script>
