<template>
  <v-footer padless>
    <v-card class="flex text-center" flat tile>
      <v-card-text class="pink darken-2">
        <v-btn
          v-for="social in socials"
          :key="social.link"
          class="mx-4 white--text"
          target="_blank"
          :aria-label="social.label"
          :href="social.link"
          icon
        >
          <v-icon size="24px">
            {{ social.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="py-2 text-center">
        <span>{{ new Date().getFullYear() }} — <strong>Test</strong></span>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "FooterBar",

  data: () => ({
    socials: [
      {
        label: "Lien vers GitHub",
        link: "https://github.com/Julien-Baylac",
        icon: "mdi-github",
      },
      {
        label: "Lien vers GitLab",
        link: "https://gitlab.com/Julien-Baylac",
        icon: "mdi-gitlab",
      },
    ],
  }),
};
</script>
