<template>
  <div class="hero d-flex justify-center align-center">
    <div>
      <h1 class="white--text text-h4 mb-6">Trouvez l'activité parfaite</h1>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    activePicker: null,
    date: null,
    menu: false,
  }),
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    },
  },
};
</script>

<style scoped>
.hero {
  background: url("https://www.ceetiz.fr/_nuxt/img/header.7e0f331.jpg");
  background-size: cover;
  height: 300px;
}
</style>
