<template>
  <v-app-bar app>
    <a href="/" class="text-decoration-none pink--text">
      <h1 class="flex align-center ml-3">Ceetiz</h1>
    </a>

    <v-spacer></v-spacer>

    <v-btn color="grey" class="mr-2" @click="switchTheme" icon>
      <v-icon>mdi-theme-light-dark</v-icon>
    </v-btn>
    <v-btn id="cart-button" @click="goToCard()" color="grey" class="mr-3" icon>
      <v-badge
        :color="cartList.length ? 'pink' : 'transparant'"
        :content="cartList.length"
      >
        <v-icon>mdi-cart-outline</v-icon>
      </v-badge>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Header",

  data() {
    return {
      loading: false,
      items: [],
      search: null,
      select: null,
      states: [],
    };
  },

  computed: {
    ...mapState(["cartList"]),
  },

  methods: {
    switchTheme() {
      this.$vuetify.theme.isDark = !this.$vuetify.theme.isDark;
    },
    goToCard() {
      this.$router.push("/cart");
    },
  },
};
</script>
