<template>
  <v-app>
    <NavBar />

    <Alert
      v-if="alert"
      :mainColor="alert.mainColor"
      :backgroundColor="alert.backgroundColor"
      :message="alert.message"
      :icon="alert.icon"
    />
    <v-main>
      <router-view />
    </v-main>

    <FooterBar class="mt-16" />
  </v-app>
</template>

<script>
import FooterBar from "@/components/FooterBar.vue";
import NavBar from "@/components/NavBar.vue";
import Alert from "@/components/Alert.vue";

import { mapGetters } from "vuex";

export default {
  name: "App",

  components: {
    FooterBar,
    NavBar,
    Alert,
  },

  data: () => ({
    showAlert: false,
  }),

  computed: {
    ...mapGetters(["alert"]),
  },
};
</script>
